.trackNavigator {
  background-color: rgba(190, 190, 190, 0.308);
  width: 300px;
  .progressBar {
    height: 1.5px;
    background-color: #dbdbdb;
  }
}
.fullSongs {
  background-color: #222222;
  padding: 15px;
  width: 900px;
  border-radius: 13px;
}
.songContainer:hover {
  background-color: #3b3b3b;
}
.songContainer {
  background-color: #222222;
  width: 400px;
  margin-bottom: 4px;
  border-radius: 13px;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  
  .songName {
    color: #dbdbdb;
    font-size: 13.5px;
    font-weight: 500;
    margin-bottom: 1px;
    width: 400px;
  }
  .songAuthor {
    color: rgba(190, 190, 190, 0.308);
    font-size: 11.5px;
    width: 400px;
  }
}
.songAndProgress {
  .songName {
    color: #dbdbdb;
    font-size: 13.5px;
    font-weight: 500;
    margin-bottom: 1px;
    width: 400px;
  }
  .songAuthor {
    color: rgba(190, 190, 190, 0.308);
    font-size: 11.5px;
    margin-bottom: 5px;
    width: 400px;
  }
}
.songImage {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 12px;
}

.repeatButton {
  width: 20px;
  height: 20px;
  object-fit: cover;
  position: absolute;
  right: 440px;
  top: 85px;
  cursor: pointer;
}
.songsPlayer {
  display: flex;
  padding: 10px 15px;
  border: solid 1px black;
  width: 500px;
  border-radius: 13px;
  margin: 0 auto;
  background-color: #222222;
  margin-bottom: 15px;
  .buttons {
    display: flex;
    align-items: center;
    margin-top: 3px;
    div {
      margin-right: 5px;
    }
  }
}
