.commentsPage {
  hr {
    margin-top: 20px;
  }
  .commentBlock {
    padding: 0px 20px;
    hr {
      margin-top: 2px;
    }

    .avaNameBlo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 7px;
      .onlyAvaName {
        gap: 5px;
        display: flex;
        img {
          width: 34px;
          height: 34px;
          border-radius: 50%;
        }
        .nameText {
          .name {
            display: flex;
            gap: 5px;
            text-decoration: none;
            font-size: 13px;
            p {
              color: #e1e3e6;
              font-weight: 500;
              line-height: 1.36;
            }
          }
          .text {
          }
        }
      }
      button {
        width: 16px;
        height: 16px;
        background: none;
        border: none;
        color: #939393;
      }
    }

    .dateBlock {
      display: flex;
      justify-content: space-between;
      margin-left: 38px;
      padding: 4px 0px 0px;

      div {
        display: flex;
        gap: 7px;
        p {
          font-size: 12px;
          color: #939393;
        }
        .send {
          font-size: 12.5px;
          color: #77aaeb;
          text-decoration: none;
        }
      }
      span {
        button {
          width: 16px;
          height: 16px;
          background: none;
          border: none;

          .active {
            // background: rgb(213, 71, 71);
          }
          .us {
            // background: none;
          }
        }
      }
    }
  }
}

.inputBlock {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
  }
  div {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #939393;
    padding: 0px 10px;
    border-radius: 5px;
    textarea {
      height: 34px;
      width: 350px;
      padding: 7px 120px 7px 13px;
      border: none;
      background: #222222;
      outline: none;
    }
    label {
      margin-top: 4px;
    }
  }
  button {
    background: #222222;
    border: none;
  }
}

.hr {
  border-bottom: 1px solid rgba(192, 192, 192, 0.308);
  margin-top: 10px;
}