* {
  color: #e1e3e6;
  box-sizing: border-box;
}

.allPage {
  background: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contentHeader {
    .avaName {
      width: 900px;
      display: flex;
      border-radius: 12px;
      background: #222222;
      border: 1px solid rgba(192, 192, 192, 0.135);
      justify-content: center;
      align-items: center;
      padding: 20px;

      .avaImg {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-right: 15px;
        object-fit: cover;
      }

      .blockWithoutImg {
        width: 700px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        align-content: center;

        .fullName {
          padding: 5px 5px;

          .name {
            font-size: 21px;
            font-weight: 500;
          }
          .linkToChangeProfile {
            text-decoration: none;
            color: #77aaeb;
            font-size: 13px;

            .arrowLink {
              color: #364ae1;
              transition: 0.3s;
            }
          }
          .linkToChangeProfile:hover {
            .arrowLink {
              margin-left: 3px;
              transition: 0.3s;
            }
          }
        }

        .blockForChanging {
          padding: 5px 5px;
          display: flex;
          justify-content: space-between;
          gap: 5px;

          .changeProfile {
            font-size: 14px;
            text-decoration: none;
            background: #4d4b4b;
            color: #e1e3e6;
            padding: 0px 16px;
            border-radius: 5px;
            border: none;
            cursor: pointer;

            p {
              margin-top: 4.5px;
            }
          }

          .changeProfile:hover {
            background: #333333;
          }

          .yet {
            font-size: 14px;
            text-decoration: none;
            background: #4d4b4b;
            color: #e1e3e6;
            padding: 5px 10px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
          }
          .yet:hover {
            background: #333333;
          }
        }
      }
    }
  }

  .contentMain {
    margin: auto;
    display: flex;
    align-items: flex-start;
    width: 900px;

    .leftSide {
      width: 550px;
      padding: 8px 0px;
      .blockMainLeft {
        padding: 8px;
        display: flex;
        border-radius: 12px;
        border: 1px solid rgba(192, 192, 192, 0.135);
        background: #222222;
        flex-direction: column;
        justify-content: center;
        .photoAndMusic {
          display: flex;

          .photoBut:hover {
            background: #333333;
          }
          .photoBut {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90px;
            height: 30px;
            border: 1px solid rgba(192, 192, 192, 0.135);
            border-radius: 10px;
            cursor: pointer;
            text-decoration: none;
            margin-bottom: 10px;
            background: #4d4b4b;

            .photoIcon {
              width: 20px;
              margin-top: 5px;
              margin-right: 6px;
            }
            p {
              border: none;
              background: transparent;
              font-size: 14px;
              font-weight: 600;
            }
          }

          .musicBut:hover {
            background: #333333;
          }
          .musicBut {
            width: 100px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            text-decoration: none;
            margin: 8px 0px 8px 6px;
            padding: 2px 8px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            .musicIcon {
              width: 16px;
              height: 16px;
              margin: 0px 3px;
            }
            p {
              color: #4d4b4b;
              margin: 0px 3px;
            }
          }
        }
        .photoBlock {
          .photoImg {
            object-fit: cover;
            width: 165px;
            height: 165px;
            border: 1px solid rgba(192, 192, 192, 0.135);
            border-radius: 5px;
          }
        }
        .buttonsPhoto {
          display: flex;
          gap: 8px;
          .installPhoto:hover {
            background: #555454;
          }
          .installPhoto {
            width: 250px;
            text-align: center;
            font-size: 14px;
            text-decoration: none;
            background: #4d4b4b;
            color: #fff;
            padding: 0px 16px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            font-weight: 600;

            p {
              padding: 6px 16px;
            }
          }
          .showAllPhoto:hover {
            background: #555454;
          }
          .showAllPhoto {
            width: 250px;
            text-align: center;
            font-size: 14px;
            text-decoration: none;
            background: #4d4b4b;
            color: #e1e3e6;
            padding: 0px 16px;
            border-radius: 8px;
            font-weight: 600;
            border: none;
            cursor: pointer;

            p {
              padding: 6px 16px;
            }
          }
        }
      }
      .post {
        padding: 8px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // height: 52px;
        width: 550px;
        background: #222222;
        border-radius: 12px;
        border: 1px solid rgba(192, 192, 192, 0.135);
        div{
          display: flex;
        img {
          width: 28px;
          height: 28px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
          margin-left: 10px;
        }
        input {
          border: 0;
          background: #222222;
          color: #dbdbdbdb;
          padding-left: 10px;
          font-size: 14px;
          outline: none;
          width: 400px;
        }
        label{
          cursor: pointer;
        }
        .inputM{
          width: 0;
        }
        input:active {
          border: none;
        }
      }
      }

      .blockForNotes {
        margin-top: 15px;
        width: 550px;

        .namesBlock {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          align-content: center;
          padding: 18px 20px;
          border: 1px solid rgba(192, 192, 192, 0.135);
          // border-top-left-radius: 12px;
          // border-top-right-radius: 12px;
          border-radius: 12px;
          background: #222222;
          border-bottom: 0px;
          margin-bottom: 2px;

          .linkk2:hover {
            background: #333333;
            transition: 0.2s;
          }

          .linkk {
            border: 1px solid rgba(192, 192, 192, 0.135);
            transition: 0.2s;
            font-size: 14px;
            text-decoration: none;
            color: #e1e3e6;
            padding: 4px 8px;
            border-radius: 12px;
            cursor: pointer;
          }
          .linkk2 {
            transition: 0.2s;
            font-size: 14px;
            text-decoration: none;
            color: #828282;
            padding: 4px 8px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
          }
        }
        hr {
          height: 1px;
          border: 0.1px solid #828282;
        }
        .withoutNotes {
          padding: 36px 20px;
          margin: 0px 0px 15px;
          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            p {
              color: #828282;
              font-size: 13px;
            }
            img {
              margin: 0px 0px 12px;
              width: 43px;
              height: 43;
              object-fit: contain;
            }
          }
        }

        .blockForPost {
          border: 1px solid rgba(192, 192, 192, 0.135);
          border-radius: 12px;
          background: #222222;
          margin-bottom: 15px;
          display: flex;
          flex-direction: column;
          padding: 16px 20px;

          .userNameAndAva {
            display: flex;
            align-items: center;
            .popUp {
              position: absolute;
              display: flex;
              flex-direction: column;
              z-index: 1000;
              background: #292929;
              padding: 6px 0px;
              border-radius: 8px;
              right: 540px;;

              .popUpBut{
                background: transparent;
                border: none;
                padding: 8px 15px;
              }
              .popUpBut:hover {
                background: #444343;
              }
            }
            .linkBut {
              width: 24px;
              height: 24px;
              border: none;
              background: none;
              margin-left: 300px;

              svg {
                // margin-left: 300px;
              }
            }
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              margin-right: 12px;
            }
            div {
              span {
                display: flex;
                gap: 5px;
                p {
                  font-size: 13px;
                  color: #77aaeb;
                }
              }
              .date {
                color: #828282;
                font-size: 13px;
              }
            }
          }
          .notePost {
            padding: 8px 0px 0px;
            font-size: 13px;
          }
          .blockForImages {
            margin-top: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px;
            .imgBlock {
              img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
              }
            }
          }
        }
        .blockForLikes {
          display: flex;
          align-items: center;
          padding-top: 12px;
          .span2 {
            display: flex;
            width: 48px;
            height: 32px;
            background: #dc1414;
            border-radius: 20px;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            padding: 4px 6px;
            transition: 0.2s;
            .but {
              display: flex;
              align-items: center;
              gap: 7px;
              background: #dc1414;
              border: none;
              color: rgb(255, 254, 254);
              transition: 0.6s;
            }
          }
          .span {
            display: flex;
            width: 48px;
            height: 32px;
            background: #444343;
            border-radius: 20px;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            padding: 4px 6px;
            transition: 0.6s;
            .but {
            }
            .button {
              border: none;
              background: none;
              svg {
              }
            }
          }
        }
      }
    }

    .rightSide {
      margin-left: 10px;
      padding: 8px 0px;
      width: 350px;
      .friendsBl{
        display: flex;
        .oneFriend{
          padding: 5px 10px;
        }
        .oneFriend:hover{
          background: #333333;
          transition: 0.2s;
          border-radius: 10px;
        }
        img{
          object-fit: cover;
        }
      }
      .blockForFriends {
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(192, 192, 192, 0.135);
        background: #222222;
        text-decoration: none;
        border-radius: 12px;
        margin-bottom: 15px;
        .linkToFriends {
          text-decoration: none;
          display: flex;
          padding: 12px 12px;

          span {
            padding: 0px 6px;
            color: #5b5a5a;
          }
        }

        

        .blockForFriend {
          transition: 0.2s;
          display: flex;

          text-decoration: none;
          border-radius: 12px;
          .friendsAva {
            width: 64px;
            height: 64px;
            border-radius: 50%;
          }

          .friendsName {
            font-size: 14px;
            padding: 2px 4px 8px;
          }
        }
      }
    }
  }
}
