.favorite_main{

    .favorite{
        background-color:  #292929;
        padding: 10px;
        border-radius: 15px;
        width: 600px;
        .imgUser{
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
        .postImg {
            width: -webkit-fill-available;
            padding: 10px;
        }
        span{
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                border-radius: 50%;
                width: 40px;
                margin: 5px;
            }
            p{
                flex: 1;
                margin: 10px;
                span {
                    font-size: 12px;
                }
            }
            .popUp{
                display: flex;
                flex-direction: column;
                position: relative;
                cursor: pointer;
                text-align: center;
                font-weight: 700;
                font-size: 16px;
                padding: 10px;
                color:#626262;
            }
        }
        p {
            font-size: 14px;
        }
    }
}

.Pop {
    top:30px;
    position: absolute;
    font-size: 16px;
    font-weight: 200;
    line-height: normal;
    left: 0px;
    width: 150px;
    background-color:#292929;
    padding: 10px;
    font-size: 13px;
    border-radius: 10px;
    
}
.Pop:hover{
    background-color: #626262;
    cursor: pointer;
}