.homePage {
  padding: 0 16px;
  background: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;

  .post {
    display: flex;
    align-items: center;
    height: 52px;
    width: 550px;
    background: #222222;
    border-radius: 10px;
    border: 1px solid rgba(192, 192, 192, 0.135);

    img {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 10px;
      margin-left: 10px;
    }
    input {
      border: 0;
      background: #222222;
      width: 490px;
      height: 40px;
      color: #dbdbdbdb;
      padding-left: 10px;
      font-size: 14px;
      outline: none;
    }
    input:active {
      border: none;
    }
  }
}

.postsBlock {
  width: 550px;
  border-radius: 12px;
  margin-top: 10px;
  .onePostBlock {
    padding: 20px;
    background: #222222;
    border: 1px solid rgba(192, 192, 192, 0.135);
    margin-top: 10px;
    border-radius: 12px;
  }
  .onePost {
    margin-top: 10px;
    p {
      margin-bottom: 5px;
    }
    .image {
      width: 100%;
      border-radius: 5px;
    }
  }

  .personalBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .popUp {
      position: absolute;
      right: -80px;
      background: #222222;
      border: 1px solid rgba(192, 192, 192, 0.135);
      padding: 5px;
      border-radius: 10px;

      button {
        border: none;
        background: transparent;
        color: #dbdbdb;
        padding: 5px;
        border-radius: 10px;
      }
      button:hover {
        background: #333333;
      }
    }
    .moreButton {
      border: none;
      background: transparent;
    }
    .firstBlock {
      display: flex;
    }

    h6 {
      color: grey;
      font-weight: 400;
    }
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 8px;
    }
    a {
      color: #77aaeb;
    }
  }
}

.like {
  display: flex;
  align-items: center;
  button {
    background: #333333;
    margin: 3px;
    border: none;
    padding: 5px 10px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    p {
      margin-left: 5px;
      font-weight: 500;
      color: grey;
    }
  }
  img {
    width: 20px;
    width: 20px;
    object-fit: cover;
  }
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  .offButton {
    border: none;
    background: transparent;
    position: absolute;
    right: 40px;
    font-size: 50px;
    top: 20px;
    font-weight: 300;
    cursor: pointer;
  }
  .modal__content {
    padding: 20px;
    border-radius: 12px;
    background: #222222;
    width: 650px;
    .onlyOnePost {
      margin-top: 15px;
      img{
        width: 100%;
        margin-top: 15px;
      }
      h2{
        font-weight: 500;
      }
    }
    .firstAvaBlock {
      display: flex;
      align-items: center;
      img{
        margin-right: 8px;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
      p{
        color: #77aaeb;
      }
    }
  }
}
