.friendsContaner {
  width: 555px;
  background-color: #222222f7;
  border-radius: 12px;
  padding: 10px;
  // height: 100vh;
}
.searchFriendWords {
  display: flex;
  margin-left: 1%;
  width: 270px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.MoreSetting {
  display: flex;
}
.youFollowers {
  color: #dbdbdb;
  padding: 5px 5px;
  border-radius: 7px;
}

.youFollowers:hover {
  background-color: #3b3b3b;
}
.actionYouFollowers {
  background-color: #3b3b3b;
  color: #dbdbdb;
  padding: 5px 5px;
  border-radius: 7px;
}

.userCartContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px rgba(128, 128, 128, 0.468);
    padding: 10px;
}

.UserImageContainer > img{
  height: 80px;
  width: 80px;
  object-fit: cover;
border-radius: 50%;
}
.userName{
    color: #6699cc;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
}
.userFirstName{
margin-right: 8px;
}
.avatarAndName{
    display: flex;
    align-items: center;
}
.buttonDelete{
    padding: 5px 30px;
    border-radius: 7px;
    border: none;
    background-color: #e1e3e6;
    font-size: 13px;
    margin-top: 3px;
    color: #000;
}
.liveSearch{
    padding: 10px;
}
.liveSearch > input{
    width: 400px;
    padding: 4px;
    border: solid 1px rgba(128, 128, 128, 0.468);
    border-radius: 6px;
    background-color: transparent;
    color: #dbdbdb;
    font-size: 16px;
}