.groupsMain {
  .followButton:hover {
    background: silver;
  }
  .followButton {
    border: none;
    color: #222222;
  }
  .unfollow {
    border: none;
    background-color: rgba(255, 255, 255, 0.333);
    color: #dbdbdb;
  }
  .unfollow:hover {
    background-color: rgba(255, 255, 255, 0.542);
  }
  margin-top: 10px;
  hr {
    border: 1px solid rgba(192, 192, 192, 0.283);
  }
  .hr {
    border-bottom: 1px solid rgba(192, 192, 192, 0.454);
  }
}
.oneGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  .groupName {
    display: flex;
    align-items: center;
  }
  button {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
  }
  a {
    // color: #e1e3e6;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  h5 {
    font-weight: 400;
    font-size: 14px;
    color: grey;
  }
  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
}
.group {
  background: #222222;
  width: 700px;
  padding: 25px;
  border: 1px solid rgba(192, 192, 192, 0.135);
  border-radius: 8px;
  .buttons {
    display: flex;
    justify-content: space-between;
    .createBut {
      color: black;
      font-weight: 400;
      border-radius: 8px;
      padding: 1px 15px;
      border: none;
      height: 30px;
    }
    .createBut:hover {
      background: silver;
    }
  }
  .firstLinks {
    display: flex;
    button {
      padding: 0px 8px;
      margin: 5px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      color: #e1e3e6;
      font-weight: 600;
      border: none;
      background: transparent;
      p {
        margin: 5px;
        color: grey;
      }
    }
    button:hover {
      background: #56565692;
    }
    button:focus {
      background: #56565692;
    }
  }
  input {
    margin: 15px;
    width: 480px;
    height: 32px;
    padding: 16px;
    background: #222222;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid rgba(192, 192, 192, 0.135);
  }
}

button {
  cursor: pointer;
}

.modal_main {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vw;
  background-color: rgba(0,0,0,0.4);
  left: 0;
  top: 0;
  span {
    padding-right: 10px;
  }
  .createGroupModal {
    margin-top: 80px;
    border-radius: 10px;
    background-color: #222222;
    width: 750px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    .closeModal {
      cursor: pointer;
      position: absolute;
      right: 3px;
      top: 6px;
    }
    .createGroup {
      display: flex;
      flex-direction: column;
      text-align: center;
      span {
        font-weight: 700;
      }
    }
    img {
      padding: 30px;
      width: 200px;
      margin-top: 100px;
    }
    .groups_redactor {
      padding: 20px;
      h3 {
        text-align: center;
      }
      textarea {
        background-color: #222222;
        margin: 17px;
        padding-left: 10px;
        padding-top: 10px;
        border: 0;
        outline: none;
        resize: none;
        border-radius: 12px;
        border: 1px solid rgba(192, 192, 192, 0.135);
      }
      button {
        padding: 10px;
        color: #292929;
        width: 95%;
        margin: 14px;
        border-radius: 5px;
        border: 0;
      }
    }
  }
}

.groupHeader {
  width: 910px;
  margin-top: 10px;
  background-color: #222222;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #3d3d3d;
  h3 {
    padding: 10px;
    margin-left: 74px;
    font-size: 23px;
  }
  img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 4px solid #292929;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    z-index: 0;
  }
}
.groupBody {
  .followers{
    width: 300px;
    background: #222222;
    border-radius: 15px;
    padding: 8px;
    border: 1px solid #3d3d3d;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    .users{
      display: flex;
      flex-wrap: wrap;
    }
    .follower_info{
      padding: 14px;
      display: flex;
      flex-direction: column;
    }
    img{
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
    }

  }
  .follower_info:hover{
   background-color: #5b5a5a;
   border-radius: 10px;
  }
}
.groupBody {
  display: flex;
  .desc{
    background: #222222;
    border-radius: 15px;
    width: fit-content;
    padding: 8px;
    border: 1px solid #3d3d3d;
    margin: 10px;
    width: 300px;
    
    .desc_info{
      width: fit-content;
      margin: 10px;
      display: flex;

    }
    img{
      width: 20px;
      height: 20px;
      object-fit: cover;
      margin-right
      : 10px;
      border-radius: 50%;
    }

  }
}
.blockName{
  margin: 10px;
}
.itemLength{
  color: #5b5a5a;
}
a{
  text-decoration: none;
}
.favorite_main{

  .favorite{
      background-color:  #222222;
      padding: 10px;
      border-radius: 15px;
      width: 600px;
      border: 1px solid #3d3d3d;
      margin-top: 10px;
      .postImg {
          width: -webkit-fill-available;
          padding: 10px;
      }
      span{
          display: flex;
          align-items: center;
          justify-content: space-between;
          img{
              border-radius: 50%;
              width: 50px;
              height: 50px;
              object-fit: cover;
              margin: 5px;
          }
          p{
              flex: 1;
              margin: 10px;
              span {
                  font-size: 12px;
              }
          }
          .popUp{
              cursor: pointer;
              text-align: center;
              font-weight: 700;
              font-size: 16px;
              padding: 10px;
              color:#626262;
          }
      }
      p {
          font-size: 14px;
      }
  }
}

.Pop {
  position: absolute;
  right: 290px;
  top: 170px;
  background-color:#292929;
  padding: 10px;
  font-size: 13px;
  border-radius: 10px;
  
}
.Pop:hover{
  background-color: #626262;
  cursor: pointer;
}
.postCreate{
  width: 600px;
  background-color: #222222;
  border: 1px solid #3d3d3d;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
  input{
    background-color: transparent;
    border: 0;
    margin-left: 10px;
    width: 500px;
  }
  img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }
}